<div ng-controller="loginController" class="ui main text centered cards login-box container row">
	<img src="assets/images/android-login.png" class="ui medium centered image" alt="Android">
	<div class="ui fluid card">
		<div class="content">
			<div class="header ui centered">Log in for your team profile</div>
			<div class="description">
				<form class="ui form">
					<div class="field">
						<input type="email" name="email" placeholder="Email" required>
					</div>
					<div class="field">
						<input type="password" name="password" placeholder="Password" required>
					</div>
				</form>
			</div>
		</div>
		<div ng-click="login()" class="ui green bottom attached button">
			<i class="user icon"></i> Log in
		</div>
	</div>
	<div class="ui horizontal divider">Or</div>
	<a ui-sref="register">
		<div class="ui orange labeled icon button">
	    	<i class="signup icon"></i>
	    	Register
	 	</div>
	</a>
</div>
