<div class="ui main container row">
	<div class="ui three column centered padded grid">
		<div class="column">
			<form action="" class="ui form header center aligned">
				<div class="field">
					<label>Team Name</label>
					<input type="text" name="team-name" placeholder="Team Name">
				</div>
			</form>
		</div>
	</div>
	<div class="ui three cards">
		<div class="ui card">
			<div class="ui blurring content dimmed dimmable segment">
				<div class="ui inverted active flex center dimmer">
					<button class="circular huge green ui icon button">
						<i class="icon add user"></i>
					</button>
				</div>
				<div class="ui header centered aligned">Team member</div>
				<div class="description">
					<form action="" class="ui form">
						<div class="field">
							<label>First Name</label>
	    					<input type="text" name="first-name" placeholder="First Name">
						</div>
						<div class="field">
							<label>Last Name</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Birth Date</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Gender</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Email</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Passowrd</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Confirm Password</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="ui card">
			<div class="content">
				<div class="ui header centered aligned">Lead member</div>
				<div class="description">
					<form action="" class="ui form">
						<div class="field">
							<label>First Name</label>
	    					<input type="text" name="first-name" placeholder="First Name">
						</div>
						<div class="field">
							<label>Last Name</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Birth Date</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Gender</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Email</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Passowrd</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Confirm Password</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
					</form>
				</div>
			</div>
			<div class="ui one bottom attached icon buttons">
				<div class="ui green button">
					<i class="signup icon"></i>
					Register
				</div>
			</div>
		</div>
		<div class="ui card">
			<div class="ui blurring content dimmed dimmable segment">
				<div class="ui inverted active flex center dimmer">
					<button class="circular huge green ui icon button">
						<i class="icon add user"></i>
					</button>
				</div>
				<div class="ui header centered aligned">Team member</div>
				<div class="description">
					<form action="" class="ui form">
						<div class="field">
							<label>First Name</label>
	    					<input type="text" name="first-name" placeholder="First Name">
						</div>
						<div class="field">
							<label>Last Name</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Birth Date</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Gender</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Email</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Passowrd</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
						<div class="field">
							<label>Confirm Password</label>
	    					<input type="text" name="last-name" placeholder="Last Name">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui three column centered grid">
	<div class="column header center aligned">
		<div class="ui horizontal divider">Or</div>
		<a ui-sref="login">
			<div class="ui orange labeled icon button">
				<i class="user icon"></i>
				Login
			</div>
		</a>
	</div>
</div>
