// out: ../assets/css/eca.css, sourcemap: true, compress: true, nib: true

.main.container
	margin-top: 7em
	margin-bottom: 7em

.ui.card.login-box
	margin-top: 0

.hidden
	display: none !important

.ui.vertical.navbar.menu
	box-shadow: none
	border: none

.right.menu.open
	.icon
		margin: 0
