// out: ../assets/css/eca.css, sourcemap: true, compress: true, nib: true

.main.container
	padding-top: 6.5rem;
	padding-bottom: 2rem;

.ui.main.container.login-box
	padding-top: 13.4rem;
	padding-bottom: 13.4rem;
	.ui.card
		margin-top: 0

.hidden
	display: none !important

.ui.vertical.navbar.menu
	box-shadow: none
	border: none
	border-radius: 0

.right.menu.open
	.menu.item.open
		background-color: #21ba45
		.icon
			color: white !important

	.icon
		margin: 0
